{% extends "base.html" %} {% block title %} YSWS-Template {% endblock %} {%
block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/carousel.css') }}"
/>
<style>
  .accordion-button:not(.collapsed) {
    background-color: rgb(245, 245, 245);
    color: black;
    box-shadow: none;
  }
  .accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.125);
  }
</style>
{% endblock %} {% block navbar %} {% endblock %} {% block navbar_balance %} 0h
{% endblock %} {% block content %}

<div
  class="d-flex align-items-center justify-content-center vh-100 text-center"
>
  <div class="col-lg-8 mx-auto">
    <h1 class="display-1 fw-bold mb-3">YSWS Template</h1>

    <p class="lead mb-4">description of the YSWS</p>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-outline-secondary btn-lg px-4 gap-3">
        Rewards
      </button>

      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
        Get Started
      </button>

      <button type="button" class="btn btn-outline-secondary btn-lg px-4">
        FAQs
      </button>
    </div>
  </div>
</div>

<section class="py-5 bg-light">
  <div class="container-fluid px-0">
    <h1 class="text-center mb-4">Rewards</h1>
    <div class="carousel-container">
      <div class="carousel-track">
        <div class="carousel-card">
          <div class="card h-100 shadow border-0 rounded-3">
            <div class="p-2">
              <img
                src="https://m.media-amazon.com/images/I/518LvVkg77L._AC_SL1280_.jpg"
                class="card-img-top rounded-top-3"
                style="height: 160px; object-fit: contain"
              />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Item</h5>
              <div
                class="d-flex justify-content-between align-items-center mt-auto"
              >
                <p class="card-text mb-0">3hr</p>
                <a href="#" class="text-decoration-none text-primary"
                  ><i class="bi bi-link fs-5"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-card">
          <div class="card h-100 shadow border-0 rounded-3">
            <div class="p-2">
              <img
                src="https://m.media-amazon.com/images/I/518LvVkg77L._AC_SL1280_.jpg"
                class="card-img-top rounded-top-3"
                style="height: 160px; object-fit: contain"
              />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Item</h5>
              <div
                class="d-flex justify-content-between align-items-center mt-auto"
              >
                <p class="card-text mb-0">4hr</p>
                <a href="#" class="text-decoration-none text-primary"
                  ><i class="bi bi-link fs-5"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-card">
          <div class="card h-100 shadow border-0 rounded-3">
            <div class="p-2">
              <img
                src="https://m.media-amazon.com/images/I/518LvVkg77L._AC_SL1280_.jpg"
                class="card-img-top rounded-top-3"
                style="height: 160px; object-fit: contain"
              />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Item</h5>
              <div
                class="d-flex justify-content-between align-items-center mt-auto"
              >
                <p class="card-text mb-0">5hr</p>
                <a href="#" class="text-decoration-none text-primary"
                  ><i class="bi bi-link fs-5"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-card">
          <div class="card h-100 shadow border-0 rounded-3">
            <div class="p-2">
              <img
                src="https://m.media-amazon.com/images/I/518LvVkg77L._AC_SL1280_.jpg"
                class="card-img-top rounded-top-3"
                style="height: 160px; object-fit: contain"
              />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Item</h5>
              <div
                class="d-flex justify-content-between align-items-center mt-auto"
              >
                <p class="card-text mb-0">6hr</p>
                <a href="#" class="text-decoration-none text-primary"
                  ><i class="bi bi-link fs-5"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-card">
          <div class="card h-100 shadow border-0 rounded-3">
            <div class="p-2">
              <img
                src="https://m.media-amazon.com/images/I/518LvVkg77L._AC_SL1280_.jpg"
                class="card-img-top rounded-top-3"
                style="height: 160px; object-fit: contain"
              />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Item</h5>
              <div
                class="d-flex justify-content-between align-items-center mt-auto"
              >
                <p class="card-text mb-0">3hr</p>
                <a href="#" class="text-decoration-none text-primary"
                  ><i class="bi bi-link fs-5"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-card">
          <div class="card h-100 shadow border-0 rounded-3">
            <div class="p-2">
              <img
                src="https://m.media-amazon.com/images/I/518LvVkg77L._AC_SL1280_.jpg"
                class="card-img-top rounded-top-3"
                style="height: 160px; object-fit: contain"
              />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Item</h5>
              <div
                class="d-flex justify-content-between align-items-center mt-auto"
              >
                <p class="card-text mb-0">4hr</p>
                <a href="#" class="text-decoration-none text-primary"
                  ><i class="bi bi-link fs-5"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-card">
          <div class="card h-100 shadow border-0 rounded-3">
            <div class="p-2">
              <img
                src="https://m.media-amazon.com/images/I/518LvVkg77L._AC_SL1280_.jpg"
                class="card-img-top rounded-top-3"
                style="height: 160px; object-fit: contain"
              />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Item</h5>
              <div
                class="d-flex justify-content-between align-items-center mt-auto"
              >
                <p class="card-text mb-0">5hr</p>
                <a href="#" class="text-decoration-none text-primary"
                  ><i class="bi bi-link fs-5"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-card">
          <div class="card h-100 shadow border-0 rounded-3">
            <div class="p-2">
              <img
                src="https://m.media-amazon.com/images/I/518LvVkg77L._AC_SL1280_.jpg"
                class="card-img-top rounded-top-3"
                style="height: 160px; object-fit: contain"
              />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Item</h5>
              <div
                class="d-flex justify-content-between align-items-center mt-auto"
              >
                <p class="card-text mb-0">6hr</p>
                <a href="#" class="text-decoration-none text-primary"
                  ><i class="bi bi-link fs-5"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-card">
          <div class="card h-100 shadow border-0 rounded-3">
            <div class="p-2">
              <img
                src="https://m.media-amazon.com/images/I/518LvVkg77L._AC_SL1280_.jpg"
                class="card-img-top rounded-top-3"
                style="height: 160px; object-fit: contain"
              />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Item</h5>
              <div
                class="d-flex justify-content-between align-items-center mt-auto"
              >
                <p class="card-text mb-0">3hr</p>
                <a href="#" class="text-decoration-none text-primary"
                  ><i class="bi bi-link fs-5"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-card">
          <div class="card h-100 shadow border-0 rounded-3">
            <div class="p-2">
              <img
                src="https://m.media-amazon.com/images/I/518LvVkg77L._AC_SL1280_.jpg"
                class="card-img-top rounded-top-3"
                style="height: 160px; object-fit: contain"
              />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Item</h5>
              <div
                class="d-flex justify-content-between align-items-center mt-auto"
              >
                <p class="card-text mb-0">4hr</p>
                <a href="#" class="text-decoration-none text-primary"
                  ><i class="bi bi-link fs-5"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-card">
          <div class="card h-100 shadow border-0 rounded-3">
            <div class="p-2">
              <img
                src="https://m.media-amazon.com/images/I/518LvVkg77L._AC_SL1280_.jpg"
                class="card-img-top rounded-top-3"
                style="height: 160px; object-fit: contain"
              />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Item</h5>
              <div
                class="d-flex justify-content-between align-items-center mt-auto"
              >
                <p class="card-text mb-0">5hr</p>
                <a href="#" class="text-decoration-none text-primary"
                  ><i class="bi bi-link fs-5"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-card">
          <div class="card h-100 shadow border-0 rounded-3">
            <div class="p-2">
              <img
                src="https://m.media-amazon.com/images/I/518LvVkg77L._AC_SL1280_.jpg"
                class="card-img-top rounded-top-3"
                style="height: 160px; object-fit: contain"
              />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Item</h5>
              <div
                class="d-flex justify-content-between align-items-center mt-auto"
              >
                <p class="card-text mb-0">6hr</p>
                <a href="#" class="text-decoration-none text-primary"
                  ><i class="bi bi-link fs-5"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-white">
  <div class="container col-lg-8">
    <h1 class="text-center mb-5 fw-bold">FAQs</h1>
    <div class="accordion" id="faqAccordion">
      <div
        class="accordion-item shadow border-0 rounded-3 mb-3 overflow-hidden"
      >
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button fw-semibold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Question
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#faqAccordion"
        >
          <div class="accordion-body text-muted">Answer</div>
        </div>
      </div>
      <div
        class="accordion-item shadow border-0 rounded-3 mb-3 overflow-hidden"
      >
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed fw-semibold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Question
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#faqAccordion"
        >
          <div class="accordion-body text-muted">Answer</div>
        </div>
      </div>
      <div
        class="accordion-item shadow border-0 rounded-3 mb-3 overflow-hidden"
      >
        <h2 class="accordion-header" id="headingThree">
          <button
            class="accordion-button collapsed fw-semibold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Question
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#faqAccordion"
        >
          <div class="accordion-body text-muted">Answer</div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="py-4 bg-light text-center">
  <div class="container">
    <span class="text-muted"
      >This website is <a href="https://github.com">Open source!</a></span
    >
  </div>
</footer>

{% endblock %}
