{% extends "base.html" %} {% block title %} YSWS-Template {% endblock %} {%
block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/carousel.css') }}"
/>
<style>
  .accordion-button:not(.collapsed) {
    background-color: rgb(245, 245, 245);
    color: black;
    box-shadow: none;
  }
  .accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.125);
  }
</style>
{% endblock %} {% block navbar %} {% endblock %} {% block navbar_balance %} 0h
{% endblock %} {% block content %}

<div
  class="d-flex align-items-center justify-content-center vh-100 text-center"
>
  <div class="col-lg-8 mx-auto">
    <h1 class="display-1 fw-bold mb-3">{{ site.home.title }}</h1>
    <p class="lead mb-4">description of the YSWS</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a
        href="#rewards"
        class="btn btn-outline-secondary btn-lg px-4 gap-3 same-size"
      >
        Rewards
      </a>
      <a href="/login" class="btn btn-primary btn-lg px-4 gap-3 same-size">
        Get Started
      </a>
      <a href="#faqs" class="btn btn-outline-secondary btn-lg px-4 same-size">
        FAQs
      </a>
    </div>
  </div>
</div>

<section class="py-5 bg-light" id="rewards">
  <div class="container-fluid px-0">
    <h1 class="text-center mb-4">Rewards</h1>
    <div class="carousel-container">
      <div class="carousel-track"></div>
    </div>
  </div>
</section>

<section class="py-5 bg-light" id="faqs">
  <div class="container col-lg-8">
    <h1 class="text-center mb-5 fw-bold">FAQs</h1>
    <div class="accordion" id="faqAccordion"></div>
  </div>
</section>

<footer class="py-4 bg-light text-center">
  <div class="container">
    <span class="text-muted"
      >This website is <a href="https://github.com">Open source!</a></span
    >
  </div>
</footer>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}
